body {
    background: #89AFBD;
    font-family:Arial, Arial, Helvetica, sans-serif;
}

.assignment {
    width:21%;
    padding: 10px;
    margin: 10px;
    padding:20px 10;
    background:#35697D;
}

.assignments {
    display:flex;
    flex-wrap:wrap;
}

.assignment img {
    width:200px;
    margin:10px;
    border:2px solid #213B45;
    border-radius:5px;
    display:block;
    margin:auto;
}

.assignment img:hover {
    border:4px dashed #89AFBD;
}

h1 {
    text-align: center;
}

h1:hover {
    color:#213B45;
    text-align: center;
}

h2 {
    text-align:center;
}

a {
    color:#DBCDB6;
    text-decoration:none;
}

a:hover {
    color: #89AFBD;
}